<%= content_tag_for :tr, order do %>
	<td class="ids"><%= order.id %></td>
	<td><%= order.promotion_name %></td>
	<td><%= order.name %></td>
	<td><%= order.add_data %></td>
	<td><%= order.net_price %>円</td>
	<% if order.click_updated_at.nil? %>
	  <td></td>
	<% else %>
	  <td><%= order.click_updated_at.strftime("%Y/%m/%d")%></td>
	<% end %>
	<td><%= order.created_at.strftime "%Y/%m/%d" %></td>
	<td><%= order.decide_date.strftime "%Y/%m/%d" if !order.decide_date.nil? %></td>
	<td><%= order.status_flag %></td>
<% end %>