<%= content_tag :tr do %>
	<td class="ids"><%= monthly.id %></td>
	<td><%= monthly.login_id %></td>
	<td><%= monthly.company_name %></td>
	<td><%= monthly.manager_name %></td>
	<td><%= monthly.gross_price %></td>
	<td><%= monthly.net_price %></td>
	<td><%= monthly.month %></td>
<% end %>