<h1>サイト編集</h1>
<canvas id="canvas"><!-- サイト編集 --></canvas>
<div class="naviBar head">
	<span class="back"><%= link_to "戻る", polymorphic_path([:partner, :sites]) %></span>
	<span class="todetail"><%= link_to "詳細", polymorphic_path([:partner, @site]) %></span>
</div>
<%= render 'form' %>
<div class="naviBar">
	<span class="back"><%= link_to "戻る", polymorphic_path([:partner, :sites]) %></span>
	<span class="todetail"><%= link_to "詳細", polymorphic_path([:partner, @site]) %></span>
</div>